body{
    background: linear-gradient(156deg, rgba(8,10,168,1) 0%,
    rgba(224,224,58,0.8337710084033614) 48%,
     rgba(31,84,94,1) 100%); background-size: cover;
}

h1{
    text-align: center;
    color: red;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;    
}

h2{
    text-align: center;
    color: rgb(51, 23, 78);    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 25px;    
}

q{
    color: green;
}

.menu{
    display: flex;
}

.menu a{    
    color: #000; /*Синхронний з .menu li | border */
    text-transform: uppercase;
    text-decoration: none;    
    font-size: 25px; /*Конфлікт з .menu li | font-size:*/
}

.menu li:hover{
    background: white;
    color: #000;
    border: white;
}

.menu li{
    font-family: Impact, Arial, Helvetica, sans-serif;
    font-size: 10px; /*Конфлікт з .menu a | font-size:*/
    display: block;
    border: 2px solid #000; /*Синхронний з .menu a | color */
    padding: 3px;
    margin-right: 10%;
    text-align: center;    
}

.text_box{            
    width: 90%;
    min-width: 750px;
    max-width: 1200px;    
}

.pic_box{        
    width: 90%;
    min-width: 750px;
    max-width: 1200px;
    border: 2px solid darkblue;
}

.pic_p{
    text-align: center;    
    margin: auto;
}

.quote{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    /*color: green;*/
    background-color: rgba(255, 255, 250, 0.3);
}

.ask{
    text-align: justify;    
    padding:  3px 30px;
    margin: 2px 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: blue;
    background-color: rgba(255, 255, 250, 0.3);
}

.horizontal_container{
    display: flex;
}

/*Стилі для другого рівня
a[href ^="https"]{    
    color: #f00;
}

Непоарбований link2*/   /* {
    color: #ff8d00; 
}

ul + p{
    font-size: 26px;
}

a[title]{
  border: 1px solid #067b09;  
}
*/
/*Стилі для третього рівня

.yellow{
    color: yellow;
}

div > p{
    color: red;
}

h3[title="text"]{
    color: blue;
}

h3[title="text"] + p{
    color: green;
}

#greycol{
    color: grey;
}
*/