/*Стилі для третього рівня*/

div[class="text-box"] h3:first-child{
    color: pink;
}

#greycol{
    color: grey;
}

div > div > p{
    color: red;
}

h3[title="text"]{
    color: blue;
}

h3[title="text"] + p{
    color: green;
}

.yellow{
    color: yellow;
}